/* Basic Styling */
body {
  margin: 0;
  padding: 0;
}


/* Body altered */

body {
  background-image:
    url("https://cdn.pixabay.com/photo/2017/11/26/17/25/nikon-2979478_960_720.jpghttps://cdn.pixabay.com/photo/2017/11/26/17/25/nikon-2979478_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.mask {
  margin: 10rem 10rem;
}


/* Navbar Styling */

.navbar {
  background-color: #483829;
}

.material-symbols-outlined {
  font-size: 2.1rem;
}


/* Contact Styling */


.social-media-contact {
  display: flex;
  justify-content: space-around;
}



.social-media-contact i {
  color: whitesmoke;
  font-size: 6rem;
}

form {
  color: white;
  font-size: 1.3rem;
  width: 50vw;
}



/* colors will be unified at the end */


.card {
  padding-bottom: 0rem;
  border-radius: 1em;
}

.card-body {
  background-color: black;
}

.card-title {
  padding-top: 20rem;
  color: rgb(1, 1, 15);
  text-shadow: 2px 2px 5px rgb(15, 1, 1);
}

.sub-title {
  color: rgb(8, 2, 0);
  text-shadow: 2px 2px 5px rgb(12, 1, 1);
}



/* Footer */

footer {
  background-color: rgb(0, 0, 0, 0.5);
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  margin-top: 5rem;
  padding-bottom: 2rem;
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-media i {
  color: #fff;
  font-size: 24px;
  margin: 0 20px;

}

.contact-us a {
  background-color: #fff;
  color: #333;
  padding: 5px 10px;
  text-decoration: none;
}