

body {
  background-image:
  url("https://cdn.pixabay.com/photo/2017/11/26/17/25/nikon-2979478_960_720.jpghttps://cdn.pixabay.com/photo/2017/11/26/17/25/nikon-2979478_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}


p {
  color: rgb(234, 229, 229);
  font-weight: bold;
}

h1 {
  color: rgb(234, 229, 229);
}

img {
  opacity: 70%;
}

/* Navbar Styling */

.navbar {
  background-color: #483829;
}

.material-symbols-outlined {
  font-size: 2.1rem;
}

/* Footer */

/* .footer-contact {
  margin: 0;
} */

footer {
  background-color: rgb(0, 0, 0, 0.5);
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  margin-top: 5rem;
  padding-bottom: 1rem;
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-media i {
  color: #fff;
  font-size: 24px;
  margin: 0 20px;

}

.contact-us a {
  background-color: #fff;
  color: #333;
  padding: 5px 10px;
  text-decoration: none;
}